In [76]:
import pandas as pd
import numpy as np

raw_data = pd.read_csv("Raw_Data.csv")

In [77]:
raw_data

,GEOID,MedianIncome,Pickup,TotalPopulation,Population_Denisty,Employment_Density,Percent_Zero_Car_Ownership,LandUse_Diversity,Distancefromthepopulation-weightedcentroidto nearesttransit station
0,17031010201,41125,305,7039,59.119022,1.490412,0.019724,0.069242,234.2500
1,17031010202,45236,233,2852,36.278590,8.568341,0.027317,0.724295,193.7950
2,17031010300,72917,280,6650,58.470922,9.582295,0.106673,0.346823,184.4025
3,17031010400,58438,240,5153,64.711477,29.071885,0.023679,2.464812,152.4400
4,17031010501,52747,234,4147,84.888695,3.081571,0.032108,0.066411,113.1000
...,...,...,...,...,...,...,...,...,...
920,17031843700,194375,469,2617,14.264697,16.557479,0.100851,4.656542,283.6450
921,17031843800,41250,19,1482,4.633875,0.716691,0.092342,0.372437,274.9300
922,17031843900,50104,261,3521,35.433393,2.294889,0.098458,0.380601,199.0220
923,17031980000,0,9661,0,0.000000,7.069573,0.027127,0.000000,615.5700
924,17031980100,0,2899,0,0.000000,9.078471,0.077349,0.000000,-99999.0000

In [78]:
raw_data = raw_data.rename(columns={"Distancefromthepopulation-weightedcentroidto nearesttransit station": "Distance_from_transit"})

In [79]:
raw_data

,GEOID,MedianIncome,Pickup,TotalPopulation,Population_Denisty,Employment_Density,Percent_Zero_Car_Ownership,LandUse_Diversity,Distance_from_transit
0,17031010201,41125,305,7039,59.119022,1.490412,0.019724,0.069242,234.2500
1,17031010202,45236,233,2852,36.278590,8.568341,0.027317,0.724295,193.7950
2,17031010300,72917,280,6650,58.470922,9.582295,0.106673,0.346823,184.4025
3,17031010400,58438,240,5153,64.711477,29.071885,0.023679,2.464812,152.4400
4,17031010501,52747,234,4147,84.888695,3.081571,0.032108,0.066411,113.1000
...,...,...,...,...,...,...,...,...,...
920,17031843700,194375,469,2617,14.264697,16.557479,0.100851,4.656542,283.6450
921,17031843800,41250,19,1482,4.633875,0.716691,0.092342,0.372437,274.9300
922,17031843900,50104,261,3521,35.433393,2.294889,0.098458,0.380601,199.0220
923,17031980000,0,9661,0,0.000000,7.069573,0.027127,0.000000,615.5700
924,17031980100,0,2899,0,0.000000,9.078471,0.077349,0.000000,-99999.0000

In [80]:
raw_data.shape

(925, 9)

In [81]:
raw_data.describe()

,GEOID,MedianIncome,Pickup,TotalPopulation,Population_Denisty,Employment_Density,Percent_Zero_Car_Ownership,LandUse_Diversity,Distance_from_transit
count,9.250000e+02,925.000000,925.000000,925.000000,925.000000,925.000000,925.000000,925.000000,925.000000
mean,1.703147e+10,83097.527568,258.009730,3705.400000,30.516647,11.192368,0.205059,1.554758,-942.761885
std,2.981447e+05,54067.674400,778.952241,1855.781627,27.136523,48.890790,0.156944,7.502127,9294.837240
min,1.703101e+10,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-99999.000000
25%,1.703120e+10,44875.000000,12.000000,2279.000000,14.940979,1.568501,0.071775,0.188293,209.215000
50%,1.703146e+10,66731.000000,47.000000,3527.000000,24.764594,3.325220,0.166627,0.403226,253.810000
75%,1.703181e+10,106375.000000,167.000000,4890.000000,38.067413,7.394595,0.300987,0.959038,325.508571
max,1.703198e+10,250000.000000,9661.000000,19889.000000,407.584189,1102.545869,0.740122,176.285714,1062.170000

In [82]:
raw_data = raw_data.rename(columns={"Population_Denisty": "Population_Density", " TotalPopulation": "TotalPopulation"})
raw_data.shape

(925, 9)

In [83]:
raw_data=raw_data[raw_data["Population_Density"] > 0]
raw_data.shape

(923, 9)

In [86]:
raw_data = raw_data[raw_data["Distance_from_transit"] >= 0]
raw_data.shape

(903, 9)

In [89]:
raw_data = raw_data[raw_data["MedianIncome"]>0]

In [90]:
raw_data.shape

(896, 9)

In [92]:
raw_data.describe()

,GEOID,MedianIncome,Pickup,TotalPopulation,Population_Density,Employment_Density,Percent_Zero_Car_Ownership,LandUse_Diversity,Distance_from_transit
count,8.960000e+02,896.000000,896.000000,896.000000,896.000000,896.000000,896.000000,896.000000,896.000000
mean,1.703146e+10,84103.387277,251.414062,3683.187500,31.110518,11.420520,0.208134,1.527435,279.058877
std,2.969164e+05,54202.515666,719.717262,1836.350736,27.262985,49.654483,0.156878,7.582989,113.120725
min,1.703101e+10,11457.000000,1.000000,416.000000,2.139127,0.000000,0.000000,0.000000,0.000000
25%,1.703119e+10,44904.250000,13.000000,2277.750000,15.514261,1.573723,0.076080,0.184785,211.900000
50%,1.703144e+10,67022.000000,50.000000,3487.000000,25.311421,3.340685,0.170276,0.401667,257.267917
75%,1.703181e+10,107186.000000,170.250000,4863.250000,38.487354,7.595376,0.305422,0.949498,327.901250
max,1.703184e+10,250000.000000,9490.000000,19889.000000,407.584189,1102.545869,0.740122,176.285714,1062.170000

In [96]:
raw_data = raw_data.rename(columns={" LandUse_Diversity":"LandUse_Diversity"})

In [97]:
raw_data = raw_data[raw_data["LandUse_Diversity"]>0]

In [99]:
raw_data.shape

(895, 9)

In [100]:
raw_data.describe()

,GEOID,MedianIncome,Pickup,TotalPopulation,Population_Density,Employment_Density,Percent_Zero_Car_Ownership,LandUse_Diversity,Distance_from_transit
count,8.950000e+02,895.000000,895.000000,895.000000,895.000000,895.000000,895.000000,895.000000,895.000000
mean,1.703146e+10,84168.846927,251.677095,3685.832402,31.126855,11.433281,0.207805,1.529142,279.231323
std,2.970138e+05,54197.373888,720.076585,1835.669104,27.273841,49.680776,0.156657,7.587057,113.066076
min,1.703101e+10,11457.000000,1.000000,416.000000,2.139127,0.027023,0.000000,0.004566,0.000000
25%,1.703119e+10,44920.000000,13.000000,2279.000000,15.511413,1.574978,0.076061,0.185373,212.232500
50%,1.703144e+10,67044.000000,50.000000,3489.000000,25.353804,3.343507,0.169782,0.402181,257.492500
75%,1.703181e+10,107213.000000,170.500000,4865.500000,38.504164,7.629479,0.304552,0.949799,327.902500
max,1.703184e+10,250000.000000,9490.000000,19889.000000,407.584189,1102.545869,0.740122,176.285714,1062.170000

In [102]:
raw_data.to_csv("raw_data_cleaned.csv")