In [104]:
import pandas as pd
import numpy as np

raw_data = pd.read_csv("raw_data_cleaned_july.csv")

In [105]:
raw_data

,Unnamed: 0,GEOID,MedianIncome,Pickup,TotalPopulation,Population_Density,Employment_Density,Percent_Zero_Car_Ownership,LandUse_Diversity,Distance_from_transit
0,0,17031010201,41125,1837.0,7039,59.119022,1.490412,0.019724,0.069242,234.2500
1,1,17031010202,45236,1375.0,2852,36.278590,8.568341,0.027317,0.724295,193.7950
2,2,17031010300,72917,1627.0,6650,58.470922,9.582295,0.106673,0.346823,184.4025
3,3,17031010400,58438,1204.0,5153,64.711477,29.071885,0.023679,2.464812,152.4400
4,4,17031010501,52747,1310.0,4147,84.888695,3.081571,0.032108,0.066411,113.1000
...,...,...,...,...,...,...,...,...,...,...
890,918,17031843500,28750,150.0,10317,23.140485,6.286981,0.085057,9.501695,537.7900
891,919,17031843600,67609,915.0,2918,28.806947,3.053905,0.114072,0.230467,264.8700
892,920,17031843700,194375,1843.0,2617,14.264697,16.557479,0.100851,4.656542,283.6450
893,921,17031843800,41250,58.0,1482,4.633875,0.716691,0.092342,0.372437,274.9300
894,922,17031843900,50104,1619.0,3521,35.433393,2.294889,0.098458,0.380601,199.0220

In [106]:
raw_data = raw_data.rename(columns={"Distancefromthepopulation-weightedcentroidto nearesttransit station": "Distance_from_transit"})

In [107]:
raw_data

,Unnamed: 0,GEOID,MedianIncome,Pickup,TotalPopulation,Population_Density,Employment_Density,Percent_Zero_Car_Ownership,LandUse_Diversity,Distance_from_transit
0,0,17031010201,41125,1837.0,7039,59.119022,1.490412,0.019724,0.069242,234.2500
1,1,17031010202,45236,1375.0,2852,36.278590,8.568341,0.027317,0.724295,193.7950
2,2,17031010300,72917,1627.0,6650,58.470922,9.582295,0.106673,0.346823,184.4025
3,3,17031010400,58438,1204.0,5153,64.711477,29.071885,0.023679,2.464812,152.4400
4,4,17031010501,52747,1310.0,4147,84.888695,3.081571,0.032108,0.066411,113.1000
...,...,...,...,...,...,...,...,...,...,...
890,918,17031843500,28750,150.0,10317,23.140485,6.286981,0.085057,9.501695,537.7900
891,919,17031843600,67609,915.0,2918,28.806947,3.053905,0.114072,0.230467,264.8700
892,920,17031843700,194375,1843.0,2617,14.264697,16.557479,0.100851,4.656542,283.6450
893,921,17031843800,41250,58.0,1482,4.633875,0.716691,0.092342,0.372437,274.9300
894,922,17031843900,50104,1619.0,3521,35.433393,2.294889,0.098458,0.380601,199.0220

In [108]:
raw_data.shape

(895, 10)

In [109]:
raw_data.describe()

,Unnamed: 0,GEOID,MedianIncome,Pickup,TotalPopulation,Population_Density,Employment_Density,Percent_Zero_Car_Ownership,LandUse_Diversity,Distance_from_transit
count,895.000000,8.950000e+02,895.000000,834.000000,895.000000,895.000000,895.000000,895.000000,895.000000,895.000000
mean,454.216760,1.703146e+10,84168.846927,1449.500000,3685.832402,31.126855,11.433281,0.207805,1.529142,279.231323
std,266.201266,2.970138e+05,54197.373888,4036.743782,1835.669104,27.273841,49.680776,0.156657,7.587057,113.066076
min,0.000000,1.703101e+10,11457.000000,1.000000,416.000000,2.139127,0.027023,0.000000,0.004566,0.000000
25%,223.500000,1.703119e+10,44920.000000,92.500000,2279.000000,15.511413,1.574978,0.076061,0.185373,212.232500
50%,453.000000,1.703144e+10,67044.000000,317.500000,3489.000000,25.353804,3.343507,0.169782,0.402181,257.492500
75%,682.500000,1.703181e+10,107213.000000,1058.750000,4865.500000,38.504164,7.629479,0.304552,0.949799,327.902500
max,922.000000,1.703184e+10,250000.000000,44804.000000,19889.000000,407.584189,1102.545869,0.740122,176.285714,1062.170000

In [110]:
raw_data = raw_data.rename(columns={"Population_Denisty": "Population_Density", " TotalPopulation": "TotalPopulation"})
raw_data.shape

(895, 10)

In [111]:
raw_data=raw_data[raw_data["Population_Density"] > 0]
raw_data.shape

(895, 10)

In [112]:
raw_data = raw_data[raw_data["Distance_from_transit"] >= 0]
raw_data.shape

(895, 10)

In [113]:
raw_data = raw_data[raw_data["MedianIncome"]>0]

In [114]:
raw_data.shape

(895, 10)

In [115]:
raw_data.describe()

,Unnamed: 0,GEOID,MedianIncome,Pickup,TotalPopulation,Population_Density,Employment_Density,Percent_Zero_Car_Ownership,LandUse_Diversity,Distance_from_transit
count,895.000000,8.950000e+02,895.000000,834.000000,895.000000,895.000000,895.000000,895.000000,895.000000,895.000000
mean,454.216760,1.703146e+10,84168.846927,1449.500000,3685.832402,31.126855,11.433281,0.207805,1.529142,279.231323
std,266.201266,2.970138e+05,54197.373888,4036.743782,1835.669104,27.273841,49.680776,0.156657,7.587057,113.066076
min,0.000000,1.703101e+10,11457.000000,1.000000,416.000000,2.139127,0.027023,0.000000,0.004566,0.000000
25%,223.500000,1.703119e+10,44920.000000,92.500000,2279.000000,15.511413,1.574978,0.076061,0.185373,212.232500
50%,453.000000,1.703144e+10,67044.000000,317.500000,3489.000000,25.353804,3.343507,0.169782,0.402181,257.492500
75%,682.500000,1.703181e+10,107213.000000,1058.750000,4865.500000,38.504164,7.629479,0.304552,0.949799,327.902500
max,922.000000,1.703184e+10,250000.000000,44804.000000,19889.000000,407.584189,1102.545869,0.740122,176.285714,1062.170000

In [116]:
raw_data = raw_data.rename(columns={" LandUse_Diversity":"LandUse_Diversity"})

In [117]:
raw_data = raw_data[raw_data["LandUse_Diversity"]>0]

In [118]:
raw_data.shape

(895, 10)

In [119]:
raw_data.describe()

,Unnamed: 0,GEOID,MedianIncome,Pickup,TotalPopulation,Population_Density,Employment_Density,Percent_Zero_Car_Ownership,LandUse_Diversity,Distance_from_transit
count,895.000000,8.950000e+02,895.000000,834.000000,895.000000,895.000000,895.000000,895.000000,895.000000,895.000000
mean,454.216760,1.703146e+10,84168.846927,1449.500000,3685.832402,31.126855,11.433281,0.207805,1.529142,279.231323
std,266.201266,2.970138e+05,54197.373888,4036.743782,1835.669104,27.273841,49.680776,0.156657,7.587057,113.066076
min,0.000000,1.703101e+10,11457.000000,1.000000,416.000000,2.139127,0.027023,0.000000,0.004566,0.000000
25%,223.500000,1.703119e+10,44920.000000,92.500000,2279.000000,15.511413,1.574978,0.076061,0.185373,212.232500
50%,453.000000,1.703144e+10,67044.000000,317.500000,3489.000000,25.353804,3.343507,0.169782,0.402181,257.492500
75%,682.500000,1.703181e+10,107213.000000,1058.750000,4865.500000,38.504164,7.629479,0.304552,0.949799,327.902500
max,922.000000,1.703184e+10,250000.000000,44804.000000,19889.000000,407.584189,1102.545869,0.740122,176.285714,1062.170000

In [121]:
raw_data.to_csv("july_cleaned.csv")